# Ambiente Virtual
venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Banco de dados local (não comentar esta linha)
#database.db
#instance/

# Arquivo de segredos
.env

# Arquivos de upload do usuário
static/uploads/